{% extends "base.html" %}

{% block content %}
    <div id="download">
        <a href="https://github.com/freeminer/freeminer/releases/download/0.4.11.5/freeminer-0.4.11.5.zip" class="button" id="download-button">
            <span class="small"><em id="download-title">Source code</em></span>
            <span class="big">Freeminer 0.4.<sub>11.<sub><sub><sub>5</sub></sub></sub></sub></span>
        </a>
        {#<div class="others" id="download-others">
            <a href="download.php#windows">Windows</a> &#183; <a href="download.php#linux">Linux</a> &#183; <a href="download.php#osx">OS X</a> &#183; <a href="download.php#others">Others</a>
        </div>#}
    </div>
    {#<div class="space"></div>#}
    <div id="main">
        <div class="laptop">&nbsp;</div>
        <div>
            <h1>About Freeminer</h1>
            <p>Freeminer is a Minecraft-inspired sandbox game.</p>
            <p>Freeminer is based on Minetest which is developed by a <a href="https://github.com/minetest/minetest/graphs/contributors">number of contributors</a> from all over the globe.</p>
            <p>Unlike Minetest it aims to make the game fun while trading off some bits of perfectionism.</p>
        </div>
        <hr class="clear" />
        <div class="features">
        <div class="features-img">&nbsp;</div>
        <div class="features-list">
            <h1>Features</h1>
            <ul>
            <li>Walk around, dig and build in an infinite voxel world and craft stuff from raw materials to help you along the way.</li>
            <li>Robust and powerful server-side modding API.</li>
            <li>Multiplayer support for tens of players, via servers hosted by users.</li>
            <li>Almost infinite world and a fairly good map generator (limited to ±31000 blocks in all directions).</li>
            <li>Runs natively on Windows, Linux, OS X and *BSD.</li>
            </ul>
        </div>
        </div>
        <div class="multiplayer">
            <h1><a href="http://servers.freeminer.org/">Multiplayer</a></h1>
            <div class="servers-list" id="server_list"></div>
            <script>var master = {root: 'http://servers.freeminer.org/', no_ping:1, no_uptime:1, no_flags:1, no_version:1, no_address:1, limit:10, clients_min:2};</script>
            <script src="http://servers.freeminer.org/list.js"></script>
        </div>
    </div>

<script type="text/javascript">
var OSName="unknown";
if (navigator.appVersion.indexOf("Win")!=-1) OSName="win";
if (navigator.appVersion.indexOf("Mac")!=-1) OSName="mac";
if (navigator.appVersion.indexOf("X11")!=-1) OSName="unix";
if (navigator.appVersion.indexOf("Linux")!=-1) OSName="linux";
if (OSName == "win") {
    document.getElementById("download-title").innerHTML = "Windows";
    document.getElementById("download-button").href = "https://github.com/freeminer/freeminer/releases/download/0.4.11.5/freeminer-0.4.11.5-win32.zip";
}
</script>
{% endblock %}
